@{
    ViewBag.Title = "DevMentor Explorer 1.0";
}
<h2>@ViewBag.Title</h2>
<h3>Software aus Dortmund</h3>

<p>
    Der Autor dieses Programms haftet nicht für Schäden an Soft- oder Hardware<br/>
    oder Vermögensschäden, die durch das Benutzen des Programms entstehen, es<br />
    sei denn diese beruhen auf einem grob fahrlässigen oder vorsätzlichen<br />
    Handeln des Autors, seiner Erfüllungsgehilfen oder seiner gesetzlichen<br />
    Vertreter.
</p>
