@{
    ViewBag.Title = "Explorer by DevMentor";

    var path = Server.MapPath("~/App_Data/");
    var files = Directory.GetFiles(path, "*.*", SearchOption.AllDirectories);

    var list = new List<FileInfo>();

    var exclude = ".csproj,.asax,.ico,.config,.html,.cs,.user".Split(',');

    foreach (var file in files)
    {
        var info = new FileInfo(file);
        if (!exclude.Contains(info.Extension.ToLower()))
        {
            list.Add(info);
        }
    }
    list = list.OrderBy(l => l.CreationTime).ToList();

}

<div class="jumbotron">
    <img src="~/Content/devmentor_logo.png" class="pull-right" />
    <h2>DevMentor Explorer</h2>



    <div class="row">

        @if (Session["key"] as string != System.Web.Configuration.WebConfigurationManager.AppSettings["DevMentor.Explorer.Key"])
        {
            <div class="col-md-4">
                @using (Html.BeginForm("Index", "Home"))
                {
                    <div class="form-group">
                        <label class="control-label">Benutzer Schlüssel</label>
                        <div class="input-group">
                            <input type="password" class="form-control" name="key" placeholder="password">
                            <span class="input-group-btn">
                                <input class="btn btn-default" type="submit" value="Login" />
                            </span>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="col-md-12">


                <h3>Übersicht</h3>

                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="col-md-2">#</th>
                            <th class="col-md-8">Name</th>
                            <th style="text-align:right" class="col-md-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var info in list)
                        {
                            <tr>
                                <td>@info.CreationTime.ToShortDateString() @info.CreationTime.ToShortTimeString()</td>
                                <td>
                                    @info.FullName.Replace(path, "")
                                        
                                    @if (info.CreationTime>=DateTime.Now.AddDays(-3))
                                    {
                                    <label class="label label-success">NEU</label>
                                    }
                                </td>
                                <td><a href="~/Home/Download?name=@info.FullName.Replace(path,"")" class="btn btn-success pull-right" target="_blank">Download &raquo;</a></td>
                            </tr>
                        }
                    </tbody>
                </table>


            </div>
        }
    </div>

</div>